---
layout: layouts/base_es.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---

{{ content | safe }}


<hr />
<h2 class="leading-normal break-words" >Articulos</h2>

{% for post in posts %}
  <article>
    <h3>
      <a href="{{ site.rootPath }}{{ post.url | url }}">{{ post.data.title }}</a>
    </h3>
    {{ post.date | dateReadable }}
  </article>
{% endfor %}
